<html><head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="{{ url_for('static', filename='img/logos/favicon.ico') }}">
  {% block head %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='w3.css') }}" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js">
    </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  </head>
  <body class="w3-light-grey">

    
    <div id="box-upload" style="display: none;"><h1 id="box-upload-text">CARREGANDO DADOS, POR FAVOR AGUARDE...</h1><img class="imagem-center" src="{{ url_for('static', filename='/img/loading.svg') }}"></div>
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button><div class="topnav">
          
          <a class="" href="/visao-geral-auditoria">Auditoria</a> 
          <input style="display: none;" type="number" id="versao-local"  value="2.0" name="Versão Local 2.0">
          
          <a type="number" style="display: none;" id="versao-local-id" href="/nova-versao">Nova versão do aplicativo já está disponível!</a>
          
          
      </div>
    
  </div>
  
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="{{ url_for('static', filename='img/logos/logo-assai.png') }}" class="w3-margin-right" style="width: 68px;">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Usuário, <strong>{{user}}</strong></span><br>
        <a href="/auditoria/upload-xlsx" class="w3-bar-item w3-button" style="background-color: #9f9595;color: white;"><i class="fa fa-upload"> Atualizar Dados</i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
      <a href="/visao-geral-auditoria" class="w3-bar-item w3-button w3-padding {{active_visao_geral_auditoria}}"><i class="fa fa-info fa-fw"></i>&nbsp; Visão geral</a>
      <a href="/calcular-parcial-auditoria" class="w3-bar-item w3-button w3-padding {{active_parcial_auditoria}}"><i class="fa fa-eye fa-fw"></i>&nbsp; Sem Leituras Com Estoque</a>
      <a href="/parcial-colaboradores" class="w3-bar-item w3-button w3-padding {{active_parcial_colaboradores}}"><i class="fa fa-users fa-fw"></i>&nbsp; Leituras por Colaboradores</a>
      <a href="/parcial-corredores" class="w3-bar-item w3-button w3-padding {{active_parcial_corredores}}"><i class="fa fa-bullseye fa-fw"></i>&nbsp; Corredores Em Alta</a>
      <!-- <button onclick="takeshot()">
            Take Screenshot
        </button> -->
      
    </div>
  </nav>
  
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  
  <div id="w3-main" class="w3-main" style="margin-left:300px;margin-top:43px;">
  
    {% block container %}

    {% endblock %}
    <div id="output"></div>
    <!-- End page content -->
  </div>
  
  <script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");

  var overlayMainBg = document.getElementById("w3-main");
  
  
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
      

    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
      
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }
  </script>
  
  <!--
  <script type="text/javascript">
  
   
    function takeshot() {
        let div = document.getElementById('w3-main');

        html2canvas(div).then(
            function (canvas) {

              canvas.toBlob(function(blob) {

	              const item = new ClipboardItem({ "image/png": blob });
	              navigator.clipboard.write([item]);
                
	              alert("Copiado com sucesso!");

              });
            })
    }
</script> -->

<script type="text/javascript" src="{{ url_for('static', filename='/js/versao.js') }}"></script>
  </body></html>