<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>WORKSTATION ASSAI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/logos/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    
    <link href="{{ url_for('static', filename='css/css2.css') }}" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Carregando...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="/" class="margin-text-title-1 navbar-brand mx-4 mb-3">
                    <h6 class="text-primary"><i class="fa fa-hashtag me-2"></i>WORKSTATION ASSAI</h6>
                </a>
               
             
                <div class="navbar-nav w-100">
                    <a href="/dashboard-auditoria" class="nav-item nav-link {{active_parcial_dasboard}}"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/setor" class="nav-item nav-link {{active_parcial_auditoria}}"><i class="fa fa-table me-2"></i>Setor</a>
                    <a href="/parcial-colaboradores" class="nav-item nav-link {{active_parcial_colaboradores}}"><i class="fa fa-users me-2"></i>Colaboradores</a>
                    <a href="/parcial-corredores" class="nav-item nav-link {{active_parcial_corredores}}"><i class="fa fa-chart-line me-2"></i>Corredores</a>
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="/" class="navbar-brand d-flex d-lg-none me-4 margin-text-title-2">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="btn-group" role="group" style="margin-left: 24px;">
                    <a href="/dashboard-auditoria" class="btn btn-primary">Auditoria</a>
                    <input style="display: none;" type="number" id="versao-local"  value="2.7" name="Versão Local 2.7">
                    <a type="number" class="btn btn-outline-primary" style="display: none;" id="versao-local-id" href="/nova-versao">Nova versão do aplicativo já está disponível!</a>
                    
                    
                    
                </div>
                <div class="navbar-nav align-items-center ms-auto">
                    <a href="/upload-xlsx" type="button" class="btn btn-outline-primary m-2"><i class="fa fa-upload me-2"></i>Atualizar Dados</a>
                    <a href="#" class="nav-link">
                        <img class="rounded-circle me-lg-2 logo-user" src="{{ url_for('static', filename='img/User.png') }}" alt="" style="width: 53px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Usuário: <strong> {{user}}</strong></span>
                    </a>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="auditoria-atual d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0" style="text-transform: uppercase;margin: auto;">Auditoria de {{auditoria}}</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                   
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-database fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">SKU</p>
                                <h6 class="mb-0">{{sku}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-percent fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">PARCIAL</p>
                                <h6 class="mb-0">{{parcial}}%</h6>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-exclamation-triangle fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Não Lidos</p>
                                <h6 class="mb-0">{{nao_lidos}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-eye fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Lidos Com Estoque</p>
                                <h6 class="mb-0">{{lidos_com_estoque}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-ban fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Lidos Sem Estoque</p>
                                <h6 class="mb-0">{{lidos_sem_estoque}}</h6>
                            </div>
                        </div>
                    </div>
                    
                    <div style="display: {{desatualizadas_ativado}};" class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-tag fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Desatualizadas</p>
                                <h6 class="mb-0">{{desatualizadas}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-exclamation fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Não Pertence</p>
                                <h6 class="mb-0">{{lidos_nao_pertence}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-users fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Colaboradores</p>
                                <h6 class="mb-0">{{colaboradores_ativos}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div style="width: 100%;" class="col-sm-12 col-xl-6">
                        <div class="containerProdutos bg-light text-center rounded p-4">
                            <div style="margin-bottom: -15px !important;" class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Fluxo de Leituras</h6>
                                
                            </div>
                            <canvas height="11px" id="ProdutosChart"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Top 30 Produtos Sem Leituras Com Alto Estoque</h6>
                        
                    </div>
                    <div style="max-height: 410px;" class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    
                                    <th scope="col">Código</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Classe Raiz</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Estoque atual</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nlcae in nao_lidos_com_alto_estoque %}
                                    {% if loop.index <= 30 %}
                                        <tr>
                                            
                                            <td>{{ nlcae['C\u00f3digo'] }}</td>
                                            <td>{{ nlcae['Produto'] }}</td>
                                            <td>{{ nlcae['Classe Raiz'] }}</td>
                                            <td>{{ nlcae['Local'] }}</td>
                                            <td>{{ nlcae['Estoque atual'] }}</td>
                                            
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div style="display: {{card_nlcaecv}};" class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Top 30 Produtos Sem Leituras Com Alto Estoque e Com Vendas</h6>
                        
                    </div>
                    <div style="max-height: 410px;" class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    
                                    <th scope="col">Código</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Classe Raiz</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Estoque atual</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nlcaece in nao_lidos_com_alto_estoque_com_vendas %}
                                    {% if loop.index <= 30 %}
                                        <tr>
                                            
                                            <td>{{ nlcaece['C\u00f3digo'] }}</td>
                                            <td>{{ nlcaece['Produto'] }}</td>
                                            <td>{{ nlcaece['Classe Raiz'] }}</td>
                                            <td>{{ nlcaece['Local'] }}</td>
                                            <td>{{ nlcaece['Estoque atual'] }}</td>
                                            
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            
                            Desenhado e Distribuido por <a href="/creditos">Igor Pereira Formighieri</a>
                        </br>
                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        
    </div>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>


    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fluxo-de-leituras.js') }}"></script>
    <script type="text/javascript" src="https://repositorio.servicealicerce.com/programas/Workstation-Assai/static/js/versao.js"></script>
    
</body>

</html>