{% extends "auditoria/base.html" %}

{% block head %}


<script type="text/javascript" src="{{ url_for('static', filename='/js/Chart.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>


{% endblock %}


{% block container %}
        <h4 class="container-text-center">LEITURAS POR COLABORADORES DE {{auditoria}}</h4>
        <div class="column2" style="background-color:#fff;">

            
            <canvas id="chart"></canvas>
            <script type="text/javascript" src="{{ url_for('static', filename='/js/leituras-por-colaboradores.js') }}"></script>
        </div>
    
{% endblock %}

