{% extends "auditoria/base.html" %}

{% block head %}



<script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/Chart.min.js') }}"></script>


{% endblock %}

{% block container %}

<!-- Header -->
<header class="w3-container" >
    <h5><b><i class="fa fa-dashboard"></i> Dashboard - Auditoria de {{auditoria}}</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{nao_lidos}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h6>NÃO LIDOS</h6>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{lidos_com_estoque}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h6>LIDOS COM ESTOQUE</h6>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-ban w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{lidos_sem_estoque}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h6>LIDOS SEM ESTOQUE</h6>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{colaboradores_ativos}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h6>COLABORADORES</h6>
      </div>
    </div>
    <div style="display: {{desatualizadas_ativado}};" class="w3-quarter">
      <div class="w3-container w3-green w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{desatualizadas}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h6>ETQ. DESATUALIZADAS</h6>
      </div>
    </div>
  </div>
  <div class="containerProdutos">
    <canvas height="221" id="ProdutosChart"></canvas>
  </div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='/js/fluxo-de-leituras.js') }}"></script>
  
  <!-- <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>CLASSE DE PRODUTO RAIZ NÃO LIDOS</h5>
        <canvas id="classe_produto_raiz" width="400" height="300"></canvas>
        <script type="text/javascript" src="{{ url_for('static', filename='/js/classe-produtos-raiz.js') }}"></script>
      </div>
    </div>
  </div> -->
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>CRÉDITOS</h4>
    <p>Distribuído e produzido por: <a href="/creditos" >Igor Pereira Formighieri</a></p>
  </footer>

  {% endblock %}