<html><head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="{{ url_for('static', filename='img/logos/favicon.ico') }}">
  {% block head %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='w3.css') }}" rel="stylesheet">
  
    </script>
  
  <style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  </head>
  <body class="w3-light-grey">

    
    
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button><div class="topnav">
          
          <a class="" href="/visao-geral-auditoria">Auditoria</a> 
          
          
          
      </div>
    
  </div>

  
  <div id="w3-main" class="w3-main" style="margin-left:0px;margin-top:43px;">
  
    {% block container %}

    {% endblock %}
    <div id="output"></div>
    <!-- End page content -->
  </div>
  
  
  </body></html>